<footer class="footer">
    <div class="footer-section is-menu">
        <ul class="footer-menu">
                            <li class="footer-menu-item">
                    <a class="footer-menu-item-link js-accordion" href="#">
                        test
                        <i class="fas fa-angle-down"></i>
                    </a>

                    <ul class="footer-menu-item-children js-accordion-content">
                                                    <li>
                                <a href="#">
                                    地域から探す
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    業界から探す
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    目的から探す
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    特徴から探す
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                            </ul>
                </li>
                            <li class="footer-menu-item">
                    <a class="footer-menu-item-link js-accordion" href="#">
                        test
                        <i class="fas fa-angle-down"></i>
                    </a>

                    <ul class="footer-menu-item-children js-accordion-content">
                                                    <li>
                                <a href="#">
                                    企業サイト
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    ECサイト
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    サイト
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                            </ul>
                </li>
                            <li class="footer-menu-item">
                    <a class="footer-menu-item-link js-accordion" href="#">
                        test
                        <i class="fas fa-angle-down"></i>
                    </a>

                    <ul class="footer-menu-item-children js-accordion-content">
                                                    <li>
                                <a href="#">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    地域別
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                  test
                                 <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    お客様
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                   test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="#">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                            </ul>
                </li>
            
            <li class="footer-menu-item">
                <a class="footer-menu-item-link" href="#">
                    test
                    <i class="fas fa-angle-right"></i>
                </a>
                <a class="footer-menu-item-link" href="#">
                    test
                    <i class="fas fa-angle-right"></i>
                </a>
                <a class="footer-menu-item-link" href="#">
                    test
                    <i class="fas fa-angle-right"></i>
                </a>
                <a class="footer-menu-item-link" href="#">
                    test
                    <i class="fas fa-angle-right"></i>
                </a>

                                    <a class="btn2 btn2-round btn2-primary footer-menu-item-login" href="https://web-kanji.com/user/login">
                        test
                    </a>
                            </li>
        </ul>
    </div>
    
    <div class="footer-section is-about">
        <div class="footer-about">
            <a href="#">
                <%# <img class="footer-about-logo" src="/images/logo-white.png" srcset="/images/logo-white.png 1x, /images/logo-white@2x.png 2x" alt="Web幹事"> %>
            </a>

            <div class="footer-about-socials">
                <a href="#" target="_blank" rel="noopener">
                    <img class="footer-about-logo" src="/assets/f_logo_RGB-Blue_58.png" srcset="/assets/f_logo_RGB-Blue_58.png 1x, /assets/f_logo_RGB-Blue_58.png 2x" alt="Web幹事">
                    <i class="fab fa-facebook"></i>
                </a>

                <a href="#" target="_blank" rel="noopener">
                    <img class="footer-about-logo" src="/assets/Twitter_Social_Icon_Circle_Color.png" srcset="/assets/Twitter_Social_Icon_Circle_Color.png 1x, /assets/Twitter_Social_Icon_Circle_Color.png 2x" alt="Web幹事">
                    <i class="fab fa-twitter-square"></i>
                </a>

                <a href="#" target="_blank" rel="noopener">
                    <img class="footer-about-logo" src="/assets/Glyph-Icon-hero.png" srcset="/assets/Glyph-Icon-hero.png 1x, /assets/Glyph-Icon-hero.png 2x" alt="Web幹事">
                    <i class="fas fa-rss-square"></i>
                </a>
            </div>

            <ul class="footer-about-menus">
                <li>
                    <a href="#">
                        お問い合わせ
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        運営企業
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        利用規約
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        プライバシーポリシー
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        サイトマップ
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-section is-copyright">
        <small class="footer-copyright-text">
            Copyright(C) 株式会社〇〇. All Rights Researved.
        </small>
    </div>
</footer>