<footer class="footer">
    <div class="footer-section is-menu">
        <ul class="footer-menu">
                            <li class="footer-menu-item">
                    <a class="footer-menu-item-link js-accordion" href="https://web-kanji.com/search">
                        test
                        <i class="fas fa-angle-down"></i>
                    </a>

                    <ul class="footer-menu-item-children js-accordion-content">
                                                    <li>
                                <a href="https://web-kanji.com/search">
                                    地域から探す
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/companies/industries">
                                    業界から探す
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/companies/objects">
                                    目的から探す
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/companies/features">
                                    特徴から探す
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                            </ul>
                </li>
                            <li class="footer-menu-item">
                    <a class="footer-menu-item-link js-accordion" href="https://web-kanji.com/posts/market-price">
                        test
                        <i class="fas fa-angle-down"></i>
                    </a>

                    <ul class="footer-menu-item-children js-accordion-content">
                                                    <li>
                                <a href="https://web-kanji.com/posts/corporate-website-price">
                                    企業サイト
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/posts/landing-page-price">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/posts/ec-site-price">
                                    ECサイト
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/posts/recruit-site-price">
                                    サイト
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/posts/owned-media-price">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/posts/hp-runningcost">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                            </ul>
                </li>
                            <li class="footer-menu-item">
                    <a class="footer-menu-item-link js-accordion" href="https://web-kanji.com/posts">
                        test
                        <i class="fas fa-angle-down"></i>
                    </a>

                    <ul class="footer-menu-item-children js-accordion-content">
                                                    <li>
                                <a href="https://web-kanji.com/posts/type-of-homepage">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/posts/type-of-webproduction">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/posts/ordering">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/posts/area-homepage">
                                    地域別
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/posts/feature-homepage">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/posts/industry-homepage">
                                  test
                                 <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/posts/interview">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/posts/user-voice">
                                    お客様
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/posts/homepage-design">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/posts/lp">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/posts/word-press">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/posts/ecsite">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/posts/shopify">
                                   test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/posts/owned-media">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/posts/recruit-site">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/posts/seo-companies">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/posts/seo">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/posts/listing-companies">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://web-kanji.com/words">
                                    test
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                                            </ul>
                </li>
            
            <li class="footer-menu-item">
                <a class="footer-menu-item-link" href="https://web-kanji.com/renewal-certificate">
                    test
                    <i class="fas fa-angle-right"></i>
                </a>
                <a class="footer-menu-item-link" href="https://web-kanji.com/documents">
                    test
                    <i class="fas fa-angle-right"></i>
                </a>
                <a class="footer-menu-item-link" href="https://web-kanji.com/about">
                    test
                    <i class="fas fa-angle-right"></i>
                </a>
                <a class="footer-menu-item-link" href="https://web-kanji.com/suppliers">
                    test
                    <i class="fas fa-angle-right"></i>
                </a>

                                    <a class="btn2 btn2-round btn2-primary footer-menu-item-login" href="https://web-kanji.com/user/login">
                        test
                    </a>
                            </li>
        </ul>
    </div>
    
    <div class="footer-section is-about">
        <div class="footer-about">
            <a href="https://web-kanji.com">
                <%# <img class="footer-about-logo" src="/images/logo-white.png" srcset="/images/logo-white.png 1x, /images/logo-white@2x.png 2x" alt="Web幹事"> %>
            </a>

            <div class="footer-about-socials">
                <a href="https://www.facebook.com/info.webkanji/" target="_blank" rel="noopener">
                    <img class="footer-about-logo" src="/assets/f_logo_RGB-Blue_58.png" srcset="/assets/f_logo_RGB-Blue_58.png 1x, /assets/f_logo_RGB-Blue_58.png 2x" alt="Web幹事">
                    <i class="fab fa-facebook"></i>
                </a>

                <a href="https://twitter.com/webkanji" target="_blank" rel="noopener">
                    <img class="footer-about-logo" src="/assets/Twitter_Social_Icon_Circle_Color.png" srcset="/assets/Twitter_Social_Icon_Circle_Color.png 1x, /assets/Twitter_Social_Icon_Circle_Color.png 2x" alt="Web幹事">
                    <i class="fab fa-twitter-square"></i>
                </a>

                <a href="https://web-kanji.com/feed" target="_blank" rel="noopener">
                    <img class="footer-about-logo" src="/assets/Glyph-Icon-hero.png" srcset="/assets/Glyph-Icon-hero.png 1x, /assets/Glyph-Icon-hero.png 2x" alt="Web幹事">
                    <i class="fas fa-rss-square"></i>
                </a>
            </div>

            <ul class="footer-about-menus">
                <li>
                    <a href="https://web-kanji.com/contact">
                        お問い合わせ
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="https://web-kanji.com/operating-company">
                        運営企業
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="https://web-kanji.com/terms">
                        利用規約
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="https://web-kanji.com/privacypolicy">
                        プライバシーポリシー
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="https://web-kanji.com/sitemap">
                        サイトマップ
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-section is-copyright">
        <small class="footer-copyright-text">
            Copyright(C) Web幹事. All Rights Researved.
        </small>
    </div>
</footer>