<header class="header">
    <div class="l-constrained header-inner">
        <div class="header-site ">
                                            <h1 class="header-site-name">
                    テスト
                </h1>
            
                            <a href="https://web-kanji.com">
                    <%# <img class="header-site-logo" src="/images/logo.png" srcset="/images/logo.png 1x, /images/logo@2x.png 2x" alt="Web幹事"> %>
                </a>
                <%# <img class="header-no1-logo" src="/images/icon/no1.png" srcset="/images/icon/no1.png 1x, /images/icon/no1@2x.png 2x" alt="掲載社数No.1"> %>
                    </div>

            <div class="display-sp">
                <div class="header-left-menu">
                    <button class="hamburger js-hamburger" aria-label="グローバルナビゲーションの開閉ボタン">
                        <i></i>
                    </button>
                </div>
                <div class="header-right-menu">
                    <a class="header-contact-btn" href="">
                        <%# <img src="/images/icon/document.png" srcset="/images/icon/document.png 1x, /images/icon/document@2x.png 2x" alt="見積もり"> %>
                        <%# 見積もり %>
                    </a>
                </div>
            </div>
            </div>
</header>