<header class="header">
    <div class="l-constrained header-inner">
        <div class="header-site ">
                                            <h1 class="header-site-name">
                    test
                </h1>
            
                            <a href="https://web-kanji.com">
                    <%# <img class="header-site-logo" src="/images/logo.png" srcset="/images/logo.png 1x, /images/logo@2x.png 2x" alt="Web幹事"> %>
                </a>
                <%# <img class="header-no1-logo" src="/images/icon/no1.png" srcset="/images/icon/no1.png 1x, /images/icon/no1@2x.png 2x" alt="掲載社数No.1"> %>
                    </div>

                    <div class="header-info">
                <div class="header-tel">
                    <p class="header-tel-text">
                        お急ぎの方は電話で相談
                        <span>(平日10時〜10時30分)</span>
                    </p>
                    <a class="header-tel-number" href="tel:03-6457-3550">
                        telnumber
                    </a>
                </div>

                <div class="header-mail">
                    <p class="header-mail-text">
                        メールでのご相談は.
                    </p>
                    <a class="btn2 btn2-round btn2-primary header-mail-btn" href="">
                        無料で相談をする
                    </a>
                </div>
            </div>

            <div class="display-sp">
                <div class="header-left-menu">
                    <button class="hamburger js-hamburger" aria-label="グローバルナビゲーションの開閉ボタン">
                        <i></i>
                    </button>
                </div>
                <div class="header-right-menu">
                    <a class="header-contact-btn" href="">
                        <%# <img src="/images/icon/document.png" srcset="/images/icon/document.png 1x, /images/icon/document@2x.png 2x" alt="見積もり"> %>
                        <%# 見積もり %>
                    </a>
                </div>
            </div>
            </div>
</header>